<div>
    <div class="main-image">
        <img src="./img/main.jpg" alt="desert view" width="1345" height="900">
        <div class="logo">
            <img src="./img/logo.png" alt="company brand">
        </div>
        <div class="page-header">
            <ul>
                <li class="menu-item" <a href="#">Wildlife Classes</a>
                    <ul class="dropdown">
                        <li><a href="#">Desert Plants</a></li>
                        <li><a href="#">Desert Animals</a></li>
                        <li><a href="#">Birds & Fish</a></li>
                        <li><a href="#">Repiles & Amphibians</a></li>
                        <li><a href="#">Insects & Spiders</a></li>
                        <li><a href="#">Schedule</a></li>
                    </ul>
                </li>
                <li class="menu-item" <a href="#">Animal Removal</a>
                    <ul class="dropdown">
                        <li><a href="#">Desert Animals</a></li>
                        <li><a href="#">Repiles & Amphibians</a></li>
                        <li><a href="#">Birds</a></li>
                        <li><a href="#">Dead Animals</a></li>
                        <li><a href="#">Domestic Animals</a></li>
                    </ul>
                </li>
                <li class="menu-item" <a href="#">Guided Hikes</a>
                    <ul class="dropdown">
                        <li><a href="#">Day Hikes</a></li>
                        <li><a href="#">Half Day Hikes</a></li>
                        <li><a href="#">Women Hikes</a></li>
                        <li><a href="#">Schedule</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="vision">
        <label>SONORAN WILDLIFE SOLUTIONS</label>
        <p>
            We are dedicated to solving urban wildlife conflicts in the Tucson area through intervention and <span>education</span>.
        </p>
        <p class="vision-part2">
            We are not a pest control company nor do we use chemicals or poisons to eliminate animals. We are committed to providing education and humane animal control to ensure the safety of both animals and humans alike.
        </p>
    </div>
</div>
<div>
    <div class="banner-container">
        <p>Licensed &nbsp;&nbsp;&bull;&nbsp;&nbsp; Animal Removal &nbsp;&nbsp;&bull;&nbsp;&nbsp; Sonoran Desert &nbsp;&nbsp;&bull;&nbsp;&nbsp; Local Hikes &nbsp;&nbsp;&bull;&nbsp;&nbsp; Education</p>
        <div class="down-arrow">
            <span class="cheveron-down"></span>
        </div>
    </div>
</div>
<div class="hero-container">

    <slider images="images" />

    <!-- <img src="img/heroImage.jpg" width="1298" height="318" class="landscape" alt="hero image" /> -->
</div>
