<div class="home-page-container">
    <div class="vision">
        <label>SONORAN WILDLIFE SOLUTIONS</label>
        <p>
            We are dedicated to solving urban wildlife conflicts in the tucson area through intervention and <span>education</span>.
        </p>
        <p class="vision-part2">
            We are not a pest control company nor do we use chemicals or poisons to eliminate animals. we are committed to providing education and humane animal control to ensure the safety of both animals and humans alike.
        </p>
    </div>
</div>
<div class="banner-container">
    <p>Licensed &nbsp;&nbsp;&bull;&nbsp;&nbsp; Animal Removal &nbsp;&nbsp;&bull;&nbsp;&nbsp; Sonoran Desert &nbsp;&nbsp;&bull;&nbsp;&nbsp; Local Hikes &nbsp;&nbsp;&bull;&nbsp;&nbsp; Education</p>
    <div class="traveler">
        <div class="bouncer">
            <!-- -->
        </div>
        <p>SCROLL FOR MORE</p>
    </div>
</div>
<div class="hero-container">
    <div class="image-wrapper1">
        <uib-carousel interval="myInterval">
            <uib-slide ng-repeat="slide in slides">
                <img class="img-responsive" ng-src="{{slide.image}}" width="600" height="410" alt="slide show">
            </uib-slide>
        </uib-carousel>
    </div>
    <div class="image-wrapper2">
        <p>Meet Don Carter...</p>
        <p>... a wildlife expert who graduated from the university of arizona with a degree in wildlife ecology. don has spent many years protecting pima county's natural resources, parks, and preserves as a ranger, natural resource specialist, and park manager. he has a lifetime of hands-on experience working with the diverse animals of our beautiful sonoran desert, and is uniquely qualified to handle whatever wildlife concerns you may have.</p>
        <div class="main-address">
            <hr>
            <p>Sonoran Wildlife Solutions</p>
            <p>520-229-7976</p>
            <p>sonoranwildlifesolutions@gmail.com</p>
            <hr>
        </div>
        <span>LICENSED BY ARIZONA GAME AND FISH</span>
    </div>
</div>
