html {
    font-size: 100%;
    font-style: 'Lucida Bright', Georgia, serif;
    font-variant: small-caps;
}

body {
    width: 100%;
    height: 100%;
    background: #f7e3de;
}

img {
    vertical-align: middle;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}


/* --------- Browser Upgrade Prompt ----- */

.browserupgrade {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0;
}


/* -------- top image background ------- */

.main-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /*line-height: 1.4;*/
}

.main-image img {
    z-index: 0;
    width: 100%;
    height: 90%;
    /*border: 2px solid black;*/
}


/* -------- header ---------- */

.logo img {
    position: absolute;
    top: 1.5%;
    left: 1.5%;
    z-index: 0;
    width: 10%;
    height: auto;
}

.page-header {
    position: absolute;
    top: 1%;
    right: 2%;
    padding-top: .2em;
    z-index: 2;
    width: 35%;
    height: 8%;
    /*border: 2px solid black;*/
}

.page-header li {
    position: relative;
    padding: 0 .7em 0 .4em;
    display: inline;
    list-style-type: none;
    /*border: 2px solid red;*/
}


/* -------- navigation ---------- */

.menu-item {
    width: 30%;
    height: 15%;
    font-size: 1.5em;
    color: #f88017;
    /*border: 2px solid red;*/
}

.menu-item::after {
    position: relative;
    top: .4em;
    left: .4em;
    width: .3em;
    height: .3em;
    border-width: .1em .1em 0 0;
    content: '';
    border-style: solid;
    display: inline-block;
    transform: rotate(135deg);
    vertical-align: top;
}

.menu-item:hover {
    color: #fff;
    background: #939393;
}

.menu-item a:hover {
    color: #fff;
    background: #939393;
}

ul li ul.dropdown {
    position: absolute;
    left: 0;
    z-index: 999;
    display: none;
    min-width: 11em;
    padding: 0;
    font-size: 20px;
    line-height: 2.5em;
    background: #f2f2f2;
}

ul li:hover ul.dropdown {
    display: block;
}

ul li ul.dropdown li {
    display: block;
}


/* -------- vision statement ---------- */

.vision {
    position: absolute;
    top: 13%;
    width: 100%;
    height: 25%;
    font-size: 30px;
    color: #fff;
    /*border: 2px solid green;
*/
}

.vision label {
    margin-left: 35%;
    letter-spacing: 10px;
    /*border: 2px solid black;*/
}

.vision p {
    margin-left: 25%;
    width: 68%;
    height: 30%;
    letter-spacing: 1px;
    text-align: center;
    /*border: 2px solid red;*/
}

.vision span {
    font-weight: bold;
}

.vision-part2 {
    font-size: 25px !important;
}


/* -------- bullet banner ---------- */

.banner-container {
    position: absolute;
    top: 90%;
    width: 100%;
    height: 10%;
    z-index: 10;
    /*border:2px solid red;*/
}

.banner-container p {
    font-size: 25px;
    text-align: center;
}

.down-arrow {
    position: relative;
    bottom: 30%;
    left: 50%;
    padding-top: .5em;
    color: #f88017;
    /*border: 2px solid red;*/
}

.cheveron-down::before {
    position: relative;
    top: .6em;
    left: .3em;
    width: .8em;
    height: .8em;
    vertical-align: top;
    border-width: .2em .2em 0 0;
    border-style: solid;
    display: inline-block;
    content: '';
    transform: rotate(135deg);
}


/* ------ Owner introduction --------*/

.hero-container {
    position: absolute;
    top: 99.9%;
    width: 100%;
    height: 50%;
    /*border: 2px solid red;*/
}

.landscape {
    display: block;
    max-width: 100%;
    height: auto;
}


/* ==========================================================================
   
   Lap top screens
   
   ========================================================================== */


/* ----------- Non-Retina Screens ----------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    /* -------- header ---------- */
    .page-header {
        position: absolute;
        top: 1%;
        right: 2%;
        padding-top: .2em;
        z-index: 2;
        width: 49%;
        height: 8%;
        /*border: 2px solid black;*/
    }
    .page-header li {
        position: relative;
        padding: 0 .7em 0 .4em;
        display: inline;
        list-style-type: none;
        /*border: 2px solid red;*/
    }
    /* -------- navigation ---------- */
    .menu-item {
        width: 30%;
        height: 15%;
        font-size: 1.5em;
        color: #f88017;
        /*border: 2px solid red;*/
    }
    .menu-item::after {
        position: relative;
        top: .4em;
        left: .4em;
        width: .3em;
        height: .3em;
        border-width: .1em .1em 0 0;
        content: '';
        border-style: solid;
        display: inline-block;
        transform: rotate(135deg);
        vertical-align: top;
    }
    .menu-item a:hover {
        color: #fff;
        background: #939393;
    }
    ul li ul.dropdown {
        position: absolute;
        left: 0;
        z-index: 999;
        display: none;
        min-width: 11em;
        padding: 0;
        font-size: 20px;
        line-height: 2.5em;
        background: #f2f2f2;
    }
    ul li:hover ul.dropdown {
        display: block;
    }
    ul li ul.dropdown li {
        display: block;
    }
    /* -------- vision statement ---------- */
    .vision {
        position: absolute;
        top: 13%;
        width: 100%;
        height: 25%;
        font-size: 25px;
        color: #fff;
    }
    .vision label {
        margin-left: 35%;
        letter-spacing: 10px;
        /*border: 2px solid black;*/
    }
    .vision p {
        margin-left: 25%;
        width: 68%;
        height: 30%;
        letter-spacing: 1px;
        text-align: center;
    }
    .vision span {
        font-weight: bold;
    }
    .vision-part2 {
        font-size: 20px !important;
    }
    /* -------- bullet banner ---------- */
    .banner-container {
        position: absolute;
        top: 90%;
        width: 100%;
        height: 9%;
        z-index: 10;
        /*border: 2px solid red;*/
    }
    .banner-container p {
        font-size: 20px;
        text-align: center;
    }
    .down-arrow {
        margin: 0 auto;
        color: #f88017;
        /*border: 2px solid red;*/
    }
    .cheveron-down::before {
        position: relative;
        top: .3em;
        left: .3em;
        width: .8em;
        height: .8em;
        vertical-align: top;
        border-width: .2em .2em 0 0;
        border-style: solid;
        display: inline-block;
        content: '';
        transform: rotate(135deg);
    }
    /* ------ Owner introduction --------*/
    .hero-container {
        position: absolute;
        top: 99.9%;
        width: 100%;
        height: 50%;
        /*border: 2px solid red;*/
    }
    .landscape {
        display: block;
        max-width: 100%;
        height: auto;
    }
}


/* ----------- Retina Screens ----------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    /* -------- header ---------- */
    .page-header {
        position: absolute;
        top: 1%;
        right: 2%;
        padding-top: .2em;
        z-index: 2;
        width: 45%;
        height: 8%;
        /*border: 2px solid black;*/
    }
    .page-header li {
        position: relative;
        padding: 0 .7em 0 .4em;
        display: inline;
        list-style-type: none;
        /*border: 2px solid red;*/
    }
    /* -------- navigation ---------- */
    .menu-item {
        width: 30%;
        height: 15%;
        font-size: 1.5em;
        color: #f88017;
        /*border: 2px solid red;*/
    }
    .menu-item::after {
        position: relative;
        top: .4em;
        left: .4em;
        width: .3em;
        height: .3em;
        border-width: .1em .1em 0 0;
        content: '';
        border-style: solid;
        display: inline-block;
        transform: rotate(135deg);
        vertical-align: top;
    }
    .menu-item a:hover {
        color: #fff;
        background: #939393;
    }
    ul li ul.dropdown {
        position: absolute;
        left: 0;
        z-index: 999;
        display: none;
        min-width: 11em;
        font-size: 20px;
        line-height: 2.5em;
        background: #f2f2f2;
    }
    ul li:hover ul.dropdown {
        display: block;
    }
    ul li ul.dropdown li {
        display: block;
    }
    /* -------- vision statement ---------- */
    .vision {
        position: absolute;
        top: 13%;
        width: 100%;
        height: 25%;
        font-size: 25px;
        color: #fff;
    }
    .vision label {
        margin-left: 35%;
        letter-spacing: 10px;
        /*border: 2px solid black;*/
    }
    .vision p {
        margin-left: 25%;
        width: 68%;
        height: 30%;
        letter-spacing: 1px;
        text-align: center;
    }
    .vision span {
        font-weight: bold;
    }
    .vision-part2 {
        font-size: 20px !important;
    }
    /* -------- bullet banner ---------- */
    .banner-container {
        position: absolute;
        top: 90%;
        width: 100%;
        height: 9%;
        z-index: 10;
        /*border: 2px solid red;*/
    }
    .banner-container p {
        font-size: 20px;
        text-align: center;
    }
    .down-arrow {
        margin: 0 auto;
        color: #f88017;
        /*border: 2px solid red;*/
    }
    .cheveron-down::before {
        position: relative;
        top: .4em;
        left: .3em;
        width: .8em;
        height: .8em;
        vertical-align: top;
        border-width: .2em .2em 0 0;
        border-style: solid;
        display: inline-block;
        content: '';
        transform: rotate(135deg);
    }
    /* ------ Owner introduction --------*/
    .hero-container {
        position: absolute;
        top: 99.9%;
        width: 100%;
        height: 50%;
        /*border: 2px solid red;*/
    }
    .landscape {
        display: block;
        max-width: 100%;
        height: auto;
    }
}
