<div class="animal-removal-container">
<!--     <h2>Bat Removal</h2>   add this to all the different ASP's for SEO   -->
    <div class="animal-removal-image">
        <uib-carousel interval="myIntervals" no-pause="true">
            <uib-slide ng-repeat="slide in slides" active="slide.active">
                <img class="img-responsive" ng-src="{{slide.image}}">
                <div class="carousel-caption">
                    <h1>{{slide.name}}</h1>
                    <h2>{{slide.text}}</h2>
                </div>
            </uib-slide>
        </uib-carousel>
        <a class="btn btn-primary" id="home-button" href="/views/main-view.html" role="button">Home</a>
    </div>
</div>
<div class="banner-container ">
    <p>Bats -- Arizona is home to 26 species of bats, some of which are designated as threatened or endangered.</p>
    <div class="stage">
        <div class="traveler">
            <div class="bouncer">
                <!-- -->
            </div>
        </div>
         <p>SCROLL FOR MORE</p>
    </div>
</div>
<div class="services-container">
    <div class="animal-removal-services">
        <p>SONORAN WILDLIFE SOLUTIONS is not only licensed by arizona game and fish department for the handling of bats, but don has made the study of  bats a specific part of his research and an area of expertise.  he has spent many years studying bats with arizona game and fish department and bat conservation international, and is uniquely qualified to help you with any concerns or questions you may have about bats.</p>
        <p>Animal control (wildlife control and removal) benefits both humans and wildlife, allowing us to live together in our desert habitat.  SONORAN WILDLIFE SOLUTIONS specializes in bat removal and control services in Northwest Tucson, Oro Valley, Dove Mountain, Catalina, Saddlebrooke, and the surrounding areas.</p>
        <p>We offer the following services:</p>
        <ul class="services-list">
            <li>immediate removal of a bat inside your home</li>
            <li>property inspections and structure inspections and identification of roost sites</li>
            <li>exclusion of bats from your home or other structures</li>
            <li>information and educational presentations</li>
        </ul>
        <div class="service-address">
            <hr>
            <p>Sonoran Wildlife Solutions</p>
            <p>520-229-7976</p>
            <p>sonoranwildlifesolutions@gmail.com</p>
            <hr>
        </div>
        <span>LICENSED BY ARIZONA GAME AND FISH</span>
    </div>
</div>
