<div class="animal-removal-container">
    <div class="animal-removal-image">
        <uib-carousel interval="myIntervals" no-pause="true">
            <uib-slide ng-repeat="slide in slides" active="slide.active">
                <img class="img-responsive" ng-src="{{slide.image}}">
                <div class="carousel-caption">
                    <h1>{{slide.name}}</h1>
                    <h2>{{slide.text}}</h2>
                    <p>{{slide.subText}}</p>
                </div>
            </uib-slide>
        </uib-carousel>
        <a class="btn btn-primary" id="home-button" href="/views/main-view.html" role="button">Home</a>
    </div>
</div>
<div class="banner-container ">
       <p>Birds &nbsp;&nbsp;&bull;&nbsp;&nbsp; Dead Animals</p>
    <div class="stage">
        <div class="traveler">
            <div class="bouncer">
                <!-- -->
            </div>
        </div>
         <p>SCROLL FOR MORE</p>
    </div>
</div>
<div class="services-container">
    <div class="animal-removal-services">
        <p>On occasion, a home or building may have a Woodpecker problem or a rock dove (pigeon) problem.  although we can exclude specific areas of your home such as chimneys and porch beams, we do not try to trap and relocate birds.  after all, they are birds and will simply fly back</p>

        <p>Putting a plastic or ceramic owl on your roof to scare away woodpeckers and rock dove (pigeons) only works in the short run, if it works at all.  woodpeckers and rock dove (pigeons) simply habituate to (become comfortable with) the plastic owl and learn to ignore it .</p>

        <p>Sadly, at some point you may have a dead animal on your property.  if you do, your first clue will usually be the smell.  decaying flesh has a very strong odor.  dead animals may be found on your property for many reasons.  a larger animal may be hit by a car and limp onto your property before it dies from internal bleeding.  a smaller animal may become trapped in your attic or under your house and die from a lack of food and water, or from someone else putting out poison.</p>

        <div class='bird-call'>
            <p>Contact SONORAN WILDLIFE SOLUTIONS if you need exclusion work done for woodpeckers and rock dove (pigeons), for advice on a bird or need a dead animal removed in Northwest Tucson, Oro Valley, Dove Mountain, Catalina, SaddleBrooke, and the surrounding areas</p>
        </div>

        <div class="service-address">
            <hr>
            <p>Sonoran Wildlife Solutions</p>
            <p>520-229-7976</p>
            <p>sonoranwildlifesolutions@gmail.com</p>
            <hr>
        </div>
        <span>LICENSED BY ARIZONA GAME AND FISH</span>
    </div>
</div>
