<div class="no-removal-container">
    <div class="no-removal-policy">
        <label>There are several animal species that we do not trap or remove...</label>
        <p>We do not trap for <u>feral cats</u>.  there are agencies in town that deal with domestic animal control problems.  we advise you to call Pima County Animal Care Center at 520-243-5900 and get information.</p>
        <br>
        <p>We also do not trap <u>coyotes</u>, <u>bobcats</u>, and <u>javelina</u>.  However, please feel free to call SONORAN WILDLIFE SOLUTIONS for advice and information if you are dealing with any of these species on your property.</p>
        <a class="btn btn-primary" id="home-button" href="/views/main-view.html" role="button">Home</a>
    </div>
</div>